<form action="/addprofile" method="post">
    Name:
    <input type="text" name="name"><br>
    Email:
    <input type="email" name="email"><br>
    Bio:
    <input type="text" name="bio"><br>
    <input type="submit" name="submit">
</form>