<link rel="stylesheet", href="/styles/form.css">

<div class="form">
    <div id="add-prof-title">
        <h1>Add Recipe</h1>
    </div>
    <form action="/addrecipe/:id" method="post">
        <div class="row">
            <div class="left-col">
                <label for="title">Title: </label>
            </div>
            <div class="right-col">
                <input type="text" id="title" name="title" placeholder="Recipe Title">
            </div>
        </div>
        <div class="row">
            <div class="left-col">
                <label for="recipe_picture">Photo: </label>
            </div>
            <div class="right-col">
                <input type="text" id="recipe_picture" name="recipe_picture" placeholder="Recipe Picture URL">
            </div>
        </div>
        <div class="row">
            <div class="left-col">
                <label for="recipe_post">Recipe:</label>
            </div>
            <div class="right-col">
                <lable id="recipe_post" name="recipe_post">
                    {{!-- <input type="text" name="recipe_post" placeholder="Write Your Recipe Here"> --}}
                    <textarea name="recipe_post" placeholder="Write your recipe here" style="height:200px"></textarea>
            </div>
        </div>
        <div class="row">
            <input id="submit" type="submit" value="Submit">
        </div>
    </form>
</div>
</form>
</div>