body {
    backg
}

.recipe_display{
    display: flex;
    justify-content: space-around;
    
}

.recipe_box{
    display: flex;
    height: 200px;
    width: 200px;
}

.recipeimg {
    height: 150px;
    width: 180px;
}

h1{
    text-align: center
}
