body {
    background-color: rgba(83, 209, 226, 0.267);
}

.recipe_display{
    display: flex;
    justify-content: space-around;
    
}

.recipe_box{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 19%;
    border: solid black 1px;
}

.imgs {
    height: 150px;
    width: 180px;
}

h1{
    text-align: center;
    border:solid 1px black;
}

#users_column{
    border: 1px black solid;
    width: 19%
}
